html{
  height: 100vh;
}
body{
    display: flex;
    height: 100vh;
    margin: 0;
    position:absolute;
    width: 100%;
    
}

.centering{
  color: white;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapper{
  width: 100%;
  height: 100vh;
}

a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.5em 0.5em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:600;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    font-size: 28px;
    }

a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
        }
@media all and (max-width:30em){
    a.button1{
    display:block;
    margin:0.4em auto;
    }
}
.bouncy{
    animation:bouncy    3s infinite linear;
    position:relative;
    }
    @keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }

/* new css */
  
    
.iconify { 
  width: 36px; 
  height: 36px;
 
}
.iconify:hover{
  color:rgba(255,255,255,0.5);
  width: 46px; 
  height: 46px;
}

a:link{
    color:white;
    text-decoration: none;
  }
  a:visited{
    color:white;
    text-decoration: none;
  }
  a:hover{
    color:white;
    text-decoration: none;
  }
  a:focus{
    color:white;
    text-decoration: none;
  }
  a:active{
    color:white;
    text-decoration: none;
  }

.container-fluid{
  padding: 50px;
  /* color:white; */
  color:black;
  min-height: 100vh;
  width: 80%;
}
#anim {
  /* position: absolute; */
  display: block;
  min-width: 100%;
  min-height: 100vh;
  
  top:0;
  bottom:0;
  left:0;
  right: 0;
  /* z-index: -1; */
  /* position:fixed;
  overflow-y:scroll;
  overflow-x:hidden; */
  
}
.header{
  margin-bottom: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.console-container {
  font-size:4em;
  text-align:center;
  display:block;
  /* position:absolute; */
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.fixed-bottom{
  color: #FFFFFF;
}

/* .card{
  padding: 10px;
} */
.card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
padding: 14px 36px 18px 36px;
cursor: pointer;
}

.card:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
